body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #333;
}

.carousel-container {
    border: 3px solid white;
    border-radius: 20px;
    /*overflow: hidden;*/
    width: 100vw;
    height: 40vh;
    position: relative;
    perspective: 10000px; /* Añade perspectiva */
}

.carousel {
    border: 2px solid red;
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    
}

.carousel img {
    position: absolute;
    height: 100%;
    transition: transform 1s, opacity 1s;
    opacity: 0;
}

.carousel img:nth-child(1) {
    animation: slide 20s infinite;
}
.carousel img:nth-child(2) {
    animation: slide 20s infinite 2s;
}
.carousel img:nth-child(3) {
    animation: slide 20s infinite 4s;
}
.carousel img:nth-child(4) {
    animation: slide 20s infinite 6s;
}
.carousel img:nth-child(5) {
    animation: slide 20s infinite 8s;
}
.carousel img:nth-child(6) {
    animation: slide 20s infinite 10s;
}
.carousel img:nth-child(7) {
    animation: slide 20s infinite 12s;
}
.carousel img:nth-child(8) {
    animation: slide 20s infinite 14s;
}
.carousel img:nth-child(9) {
    animation: slide 20s infinite 16s;
}
.carousel img:nth-child(10) {
    animation: slide 20s infinite 18s;
}

@keyframes slide {
    0% { 
        transform: translateX(90vw) rotateY(90deg) translateZ(0);
         opacity: 1;
         z-index:0;
         scale:1; 
        }
    10% { 
        transform: translateX(74vw) rotateY(60deg) translateZ(50px);
         opacity: 1; 
         z-index:50;
         }
    20% { 
        transform: translateX(58vw) rotateY(0deg) translateZ(100px);
        opacity: 1;
        z-index:100;
     }
    30% { 
        transform: translateX(42vw) rotateY(0deg) translateZ(100px);
        opacity: 1;
        z-index:150; 
    }
    40% {
         transform: translateX(26vw) rotateY(-60deg) translateZ(50px);
         opacity: 1;
         z-index:100; 
        }
    50% { 
        transform: translateX(10vw) rotateY(-90deg) translateZ(50px);
         opacity: 1;
          z-index:50;
        }
    55% { 
        transform: translateX(11.5vw) rotateY(-90deg) translateZ(0); 
        opacity: 1; 
        z-index:0;
        scale:1;
    }

    60% { transform: translateX(0vw) rotateY(-120deg) translateZ(-50); opacity: 1; z-index:-50; filter: blur(100); scale:0.9;}

    65% { transform: translateX(11.5vw) rotateY(-150deg) translateZ(-100); opacity: 1; z-index:-100; scale:0.8;}
    70% { transform: translateX(23vw) rotateY(-180deg) translateZ(-150); opacity: 1; z-index:-150; scale:0.7;}
    75% { transform: translateX(34.5vw) rotateY(-210deg) translateZ(-100); opacity: 1; z-index:-100; scale:0.8;}
    80% { transform: translateX(34.5vw) rotateY(-210deg) translateZ(-100); opacity: 1; z-index:-100; scale:0.8;}
    85% { transform: translateX(34.5vw) rotateY(-210deg) translateZ(-100); opacity: 1; z-index:-100; scale:0.8;}
    90% { transform: translateX(34.5vw) rotateY(-210deg) translateZ(-100); opacity: 1; z-index:-100; scale:0.8;}
    100% { transform: translateX(79.5vw) rotateY(-270deg) translateZ(0); opacity: 1; z-index:0; filter: blur(100); scale:0.9;}
}





