body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #333;
}

.carousel-container {
    border: 10px solid white;
    border-radius: 20px;
    
    width: 90%;
    height: 80vh;
    position: relative;
}

.carousel {
    
    position: absolute;
    width: 100%;
    height: 100%;
   
    border:10px solid red;
}

.carousel img {
    
    height: 100%;
    transition: transform 1s, opacity 1s;
    position: absolute;
    opacity: 0;
    transition: 1s;
    border: 10px solid white;
    border-radius: 20px;
}

.carousel img:nth-child(1) {
    animation: slide 40s infinite;
}
.carousel img:nth-child(2) {
    animation: slide 40s infinite 14s;
}
.carousel img:nth-child(3) {
    animation: slide 40s infinite 18s;
}
.carousel img:nth-child(4) {
    animation: slide 40s infinite 112s;
}
.carousel img:nth-child(5) {
    animation: slide 40s infinite 116s;
}
.carousel img:nth-child(6) {
    animation: slide 40s infinite 140s;
}
.carousel img:nth-child(7) {
    animation: slide 40s infinite 124s;
}
.carousel img:nth-child(8) {
    animation: slide 40s infinite 128s;
}
.carousel img:nth-child(9) {
    animation: slide 40s infinite 132s;
}
.carousel img:nth-child(10) {
    animation: slide 40s infinite 136s;
}

@keyframes slide {
    0%, 100% { transform: translateX(300%) rotateY(90deg); opacity: 1; }
    10% { transform: translateX(200%) rotateY(60deg); opacity: 1; }
    20% { transform: translateX(100%) rotateY(30deg); opacity: 1; }
    30% { transform: translateX(50%) rotateY(0deg); opacity: 1; }
    40% { transform: translateX(20%) rotateY(-30deg); opacity: 1; }
    50% { transform: translateX(0%) rotateY(-60deg); opacity: 1; }
    60% { transform: translateX(-20%) rotateY(-90deg); opacity: 1; }
    70%{ transform: translateX(-100%) rotateY(-90deg); opacity: 1; }
    80%{}
    90%{}
    100% { }
}

